@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow:hidden;
}

.bg{
    background-image: url('860193.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0px);
    left: -30px;
    top: -30px;
}
.loading-text{
    font-size: 40px;
    color: #76717a;
    font-weight: 600;
}